{% extends "/base.html.twig" %}

{% block title %}Главная страница{% endblock %}

{% block body %}
    <h1>Погода</h1>
    <div class="">
        <ul>
            <li><a href="/weather/moscow">Москва</a></li>
            <li><a href="/weather/sochi">Сочи</a></li>
        </ul>
    </div>
{% endblock %}