{% extends "/base.html.twig" %}

{% block title %}Главная страница{% endblock %}

{% block body %}
    <p>main page</p>

    {% if info is not null %}
        <div class="">
            Температура: {{ info.temp }}
        </div>
    {% endif %}

{% endblock %}